[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = delta
[user]
	name = Dylan Chong
	email = <AAAAAAAAAAAAAAAAAAA YOUR EMAIL HERE>
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = true
[push]
	default = simple
[gui]
[diff]
	tool = vimdiff
[delta]
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = base16
	minus-style = syntax "#3a273a"
	minus-emph-style = syntax "#6b2e43"
	plus-style = syntax "#273849"
	plus-emph-style = syntax "#305f6f"
	line-numbers-minus-style = "#c53b53"
	line-numbers-plus-style = "#4fd6be"
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = false
[init]
	defaultBranch = main
